{% extends "base.html" %}
{% load i18n %}

{% block main %}
    <h1 class="my-4"></h1>
    <h1 class="my-4"></h1>
    <div class="card">
      <div class="card-body p-5 bg-light">
        <div class="display-4">{% trans "Wellcome!" %}</div>
        <p class="lead">{% trans "This is the only task manager you will need in your life" %}</p>
        <hr>
        <a class="btn btn-primary btn-lg" href="https://youtu.be/dQw4w9WgXcQ?si=PFUGdBp2t5zqD5uj">{% trans "Learn more" %}</a>
      </div>
    </div>
{% endblock %}
