{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block main %}
    <h1 class="my-4">{% trans "Task overview" %}</h1>
<div class="card">
  <div class="card-header bg-secondary text-white">
    <h2>{{ tasks.name }}</h2>
  </div>
  <div class="card-body bg-light">
    <p>{{ tasks.description }}</p>
    <hr>
    <div class="container">
      <div class="row p-1">
        <div class="col">{% trans "Author" %}</div>
        <div class="col">{{ tasks.author.first_name }} {{ tasks.author.last_name }}</div>
      </div>
      <div class="row p-1">
        <div class="col">{% trans "Executor" %}</div>
        <div class="col">{{ tasks.executor.first_name }} {{ tasks.executor.last_name }}</div>
      </div>
      <div class="row p-1">
        <div class="col">{% trans "Status" %}</div>
        <div class="col">{{ tasks.status.name }}</div>
      </div>
      <div class="row p-1">
        <div class="col">{% trans "Creation date" %}</div>
          {% with created=tasks.created_at %}
            <div class="col">{{ created|date:"d.m.Y" }} {{ created|time }}</div>
          {% endwith %}
      </div>
      <div class="row p-1">
        <div class="col">
          <h6>{% trans "Labels" %}:</h6>
          <ul>
              {% for label in tasks.labels.all %}
                  <li>{{ label.name }}</li>
              {% endfor %}
          </ul>
        </div>
      </div>
      <div class="row p-1">
        <div class="col">
          <a href="{% url "tasks_update" tasks.pk %}">Изменить</a>
          <br>
          <a href="{% url "tasks_delete" tasks.pk %}">Удалить</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
