{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block main %}
    <div class="container wrapper flex-grow-1">
        <h1 class="my-4">{% trans "Tasks" %}</h1>
        <a class="btn btn-primary mb-3" href="{% url "tasks_create" %}">{% trans "Create task" %}</a>
        <div class="card mb-3">
            <div class="card-body bg-light">
                <form method="get">
                    {% bootstrap_form filter.form %}
                <input class="btn btn-primary" type="submit" value="{% trans "Show" %}">
                </form>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>{% trans "Title" %}</th>
                    <th>{% trans "Status" %}</th>
                    <th>{% trans "Author" %}</th>
                    <th>{% trans "Executor" %}</th>
                    <th>{% trans "Creation date" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                {% with created=task.created_at %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td><a href="{% url "tasks_detail" task.id%}">{{ task.names }}</a></td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.author }}</td>
                    <td>{{ task.executor }}</td>
                    <td>{{ created|date:"d.m.Y" }} {{ created|time }}</td>
                    <td>
                        <a href="{% url "tasks_update" task.id %}">{% trans "Edit" %}</a>
                        <br>
                        <a href="{% url "tasks_delete" task.id %}">{% trans "Delete" %}</a>
                    </td>
                </tr>
                {% endwith %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
