{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block main %}
    <h1 class="my-4">{% trans "Task overview" %}</h1>
<div class="card">
  <div class="card-header bg-secondary text-white">
    <h2>{{ task.title }}</h2>
  </div>
  <div class="card-body bg-light">
    <p>{{ task.description }}</p>
    <hr>
    <div class="container">
      <div class="row p-1">
        <div class="col">{% trans "Author" %}</div>
        <div class="col">{{ task.author.first_name }} {{ task.author.last_name }}</div>
      </div>
      <div class="row p-1">
        <div class="col">{% trans "Executor" %}</div>
        <div class="col">{{ task.executor.first_name }} {{ task.executor.last_name }}</div>
      </div>
      <div class="row p-1">
        <div class="col">{% trans "Status" %}</div>
        <div class="col">{{ task.status.title }}</div>
      </div>
      <div class="row p-1">
        <div class="col">{% trans "Creation date" %}</div>
          {% with created=task.created_at %}
            <div class="col">{{ created|date:"d.m.Y" }} {{ created|time }}</div>
          {% endwith %}
      </div>
      <div class="row p-1">
        <div class="col">
          <h6>{% trans "Labels" %}:</h6>
          <ul>
              {% for label in task.labels.all %}
                  <li>{{ label.title }}</li>
              {% endfor %}
          </ul>
        </div>
      </div>
      <div class="row p-1">
        <div class="col">
          <a href="{% url "tasks_update" task.pk %}">Изменить</a>
          <br>
          <a href="{% url "tasks_delete" task.pk %}">Удалить</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
